* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #f3f3f3;
}

body {
  margin: 0;
  padding: 0;
}